QuestionApp/.idea/workspace.xml
QuestionApp/app/app.iml
QuestionApp/.gradle/2.4/taskArtifacts/cache.properties.lock
QuestionApp/.gradle/2.4/taskArtifacts/fileHashes.bin
QuestionApp/.idea/workspace.xml
QuestionApp/.gradle/2.4/taskArtifacts/taskArtifacts.bin
QuestionApp/.idea/workspace.xml
QuestionApp/app/app.iml
QuestionApp/.idea/workspace.xml
QuestionApp/.idea/workspace.xml
QuestionApp/app/app.iml
presentation/img/Thumbs.db
*.db